<!doctype html>
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
    <div ng-controller="Controller">
      <div ng-switch on="islogin">
        <div ng-switch-when="true">
          <table>
          <td rowspan=2 width=30>
            <img ng-src="http://192.168.245.154/api/picture" width=30/>
          </td>
          <td>{{username}}</td>
          <tr>
          <td><textarea type="text" ng-model="message"></textarea>
          </td>
          </table>
          <br>
          <button ng-click="logout()">Logout with Facebook</button>
          <button ng-click="post()">Post</button><br>
        </div>
        <div ng-switch-when="false">
          <button ng-click="login()">Login with Facebook</button><br>
        </div>
        <div ng-switch-default>
        </div>
      </div>
      <table>
          <tr ng-repeat="post in posts.datas">
          <td width=30 >
            <img ng-src="http://192.168.245.154/api/picture{{post.photo}}" width=30/>
          </td>
          <td>{{post.name}}</td>
          <td>{{post.message}}</td>
          </tr>
      </table>
      <pre>{{username}}</pre>
      <pre>{{islogin}}</pre>
      <pre>{{message}}</pre>
      <pre>{{posts|json}}</pre>
    </div>
  </body>
</html>
